.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.5em;
  text-align: center;
}

.table thead tr {
  background-color: var(--black);
}
.table tr {
  background-color: var(--tableMain);
}
.table tr:nth-child(even) {
  background-color: var(--tableExtra);
}

.table td img {
  border-radius: 50%;
}

.player {
  display: flex;
  gap: 0.5em;
  align-items: center;
  border: none;
}

@media screen and (max-width: 768px) {
  .table td {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
  }

  .table td:before {
    content: attr(datatype) ": ";
    display: inline-block;
    padding-right: 1em;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .table .player {
    display: flex;
    gap: 0.5em;
    align-items: center;
    border: none;
    flex-direction: row;
  }

  .table thead tr {
    display: none;
  }

  .table > tbody > tr > td:first-child,
  .table > tbody > tr > td:nth-child(n + 10) {
    display: none;
  }
}