:root {
  --max-width: 1200px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  /* === Theme variables === */
  /* Main */
  --themeDarker: #020202;
  --themeDark: #080808;
  --themeDarkAlt: #1f1f1f;
  --themePrimary: #333;
  --themeSecondary: #2d2d2d;
  --themeTertiary: #1f1f1f;
  --themeLight: #474747;
  --themeLighter: #646464;
  --themeLighterAlt: #8d8d8d;
  /* Foreground */
  --black: #020202;
  --neutralDark: #050505;
  --neutralPrimary: #323130;
  --neutralPrimaryAlt: #8d8b8a;
  --neutralSecondary: #a3a2a0;
  --neutralTertiary: #bab8b7;
  --white: #f0f0f0;
  /* More */
  --neutralTertiaryAlt: #f7f7fd;
  /* --neutralDark: #605e5d; */
  --neutralQuaternaryAlt: #f5f5fd;
  --neutralLight: #f4f4fd;
  --neutralLighter: #f3f3fd;
  --neutralLighterAlt: #f3f3fd;
  /* Extra theme color  */
  --extraDarker: #04040a;
  --extraDark: #100f29;
  --extraDarkAlt: #1d1c4d;
  --extraPrimary: #3a3799;
  --extraSecondary: #5651e0;
  --extraTertiary: #635dff;
  --extraLight: #716cff;
  --extraLighter: #8783ff;
  --extraLighterAlt: #a7a4ff;
  --extraWhite: #e7e4ff;
  /* Extra color */
  --errorColor: #eb505a;
  --dangerColor: #46110e;
  --warningColor: #f5b700;
  --successColor: #4CAF50;
  /* Activity in scheldue colors */
  --activityFontColor: var(--extraWhite);
  --activityTraining: var(--extraSecondary);
  --activityTournament: #b65e5e;
  --activityLeague: #b59545;
  --activityTactics: var(--extraTertiary);
  --activityMedical: #a0182d;
  --activityMeeting: #ce3a13;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration-color: var(--white);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  min-height: 100dvh;
}

body,
main {
  background-color: var(--black);
  color: var(--white)
}

a {
  text-decoration: none;
  color: var(--white)
}


.content-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: .75rem;
}
